.contact__container__header {
    padding: 5% 0;
}

.contact__container__header h4{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 115.5%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #000000;
}

.contact__container__header p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.contact__container__form{
    width: 100%;
}

.contact__container__form .form{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: auto;
}

.contact__container__form-group{
    display: grid;
}

textarea{
    padding: 10px;
    font-size: 17px;
    font-family: Montserrat Alternates;
}

.contact__container__form-btn{
    text-align: center;
}

.contact__container__form-btn .contact__container__form-btn--colored{
    background: #800080;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 115.5%;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px 25px;
    border: 0;
    border-radius: 3px;
    font-family: Montserrat Alternates;
}

@media only screen and (max-width: 600px) {
    .form{
        width: 100% !important;
        padding: 10%;
    }
    .contact__container__form-group{
        width: 100%;
    }
    textarea{
        width: 100%;
    }

    .contact__container__header{
        padding: 5% 0 2%;
    }

    .contact__container__header h4{
        font-size: 35px;
    }
    .contact__container__header p{
        font-size: 18px;
    }
}
